<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather app</title>
    {{>headerlinks}}
</head>
<body>
    <!-- using these 3div class for allignment of page -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fliud main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class ="row">
                    <!-- left side div -->
                    <div class ="col-md-6 col-12 main_header_left align-items-center">
                        <h1>Ooops <span class ="text_clr"> 404 Error!</span>  Pagenot found :(</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>