<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather app</title>
    {{>headerlinks}}
</head>
<body>
    <!-- using these 3div class for allignment of page -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fliud main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class ="row">
                    <!-- left side div -->
                    <div class ="col-md-3 col-12 main_header_right">
                        <figure>
                            <img src="images/eren-yeager-minimal-wallpaper-v0-eq438khp3swa1.jpg" alt="Arhaan" class="img-fluid" title="Tatakai">
                        </figure>
                    </div>
                    <div class ="col-md-6 col-12 main_header_left">
                        <h1>Those who do not know <span class ="text_clr">PAIN</span> will never understand True PEACE...!!</h1>
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>